.blogContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-around;
	padding: 10px 40px 35px 40px;
	color: whitesmoke;
}

.imgContainer {
	display: flex;
	justify-content: center;
	position: relative;
	border-radius: 8px;
	align-items: center;
	overflow: hidden;
}

.imgContainer:hover .img {
	transition: 1s;
	overflow: hidden;
	transform: scale(110%);
}

.textContainer {
	width: 500px;
	height: 500px;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: left;
	justify-content: space-around;
	border-radius: 8px;
}

.title {
	color: palevioletred;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Shadows Into Light", cursive;
}

.region {
	color: whitesmoke;
}

.region span {
	color: red;
}

.description {
	text-align: justify;
}
